html {
    background-color: deepskyblue;
}

.blockcode {
    color:crimson;
}
.nav a {
    display:inline-block;
    padding: 1em;
}
.nav li {
    display:inline;
}
table {
    width: 300px;
}
th {
    text-align: left;
}
table, th, td {
    border:1px solid black;

}

